body {
  font-family: sans-serif;
  text-align: center;
  background: #f5f2ed;
  padding-top: 80px;
}

button {
  padding: 16px 40px;
  font-size: 18px;
  border: none;
  background: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.player {
  width: 320px;
  margin: 25px auto;
}

.progress-container {
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0%;
  background: black;
  transition: width 0.2s linear;
}

.time {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 6px;
  color: #555;
}

.streak {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 500;
}

#calendar {
  margin-top: 20px;
}

.day {
  width: 22px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  border-radius: 50%;
  background: #ddd;
  font-size: 10px;
}

.completed {
  background: black;
  color: white;
}
