body {
  font-family: sans-serif;
  background: #f5f2ed;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 500px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

button {
  padding: 18px 50px;
  font-size: 20px;
  border: none;
  background: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.player {
  width: 100%;
  margin-bottom: 40px;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0%;
  background: black;
  transition: width 0.1s linear;
}

.time {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 8px;
  color: #555;
}

#calendar {
  margin-top: 30px;
}

.day {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin: 5px;
  border-radius: 50%;
  background: #ccc;
}

.completed {
  background: black;
}

#streak {
  margin-top: 30px;
  font-size: 18px;
  opacity: 0.8;
}
