body {
  font-family: sans-serif;
  text-align: center;
  background: #f5f2ed;
  padding-top: 40px;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  background: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.player {
  width: 300px;
  margin: 20px auto;
}

.progress-container {
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0%;
  background: black;
}

.time {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 6px;
  color: #555;
}

#calendar {
  margin-top: 30px;
}

.day {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 4px;
  border-radius: 50%;
  background: #ccc;
}

.completed {
  background: black;
}
